*{
    color: #fff;
}

#app-nav-bar {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(30,30,30) 0%, rgb(11, 11, 11) 99.4%);
    height: 70px;
}


#app-content {
    background: linear-gradient(to right, rgb(37, 37, 37) 0%, rgb(93, 93, 93) 100%);
    min-height: calc(100vh - 70px)
}

#app-avatar {
    border-radius: 50%;
}

.chart1-btn{
    border: 1px solid #fff; 
    color: #fff;
    border-radius: 0%;
}

.chart1-btn:hover {
    color: #fff;
}

.chart1-btn-active{
    color: black;
    border: 1px solid #ffbf00;
    background-color: #ffbf00;
    border-radius: 0%;
}

.chart1-btn-active:hover{
    color: black;
}

.chart2-btn{
    border: 1px solid #fff; 
    color: #fff;
    border-radius: 0%;
}

.chart2-btn:hover {
    color: #fff;
}

.chart2-btn-active{
    color: black;
    border: 1px solid #ffbf00;
    background-color: #ffbf00;
    border-radius: 0%;
}

.chart2-btn-active:hover{
    color: black;
}

.app-notify-traffic{
    color: black;
    border: 1px solid #ffbf00;
    background-color: #ffbf00;
    border-radius: 0%;
    padding: 0.375rem 0.75rem;
    text-align: center;
}

.app-notify-traffic-number{
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 22px;
}